/* 
    Document   : textfile
    Created on : Nov 23, 2016, 1:02:46 PM
    Author     : java1
    Description:
        Purpose of the stylesheet follows.
*/


.tb2 {
	background-color : #99FFCC;
	border: 1px solid #008000;
	width: 230px;
}
.tb6 {
	border: 4px double #669999	;
	width: 230px;
       
}

